<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jksystems.jeffy">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="IAssistant18"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/TemaMain">
        <activity android:name=".splash" android:theme="@style/Theme.AppCompat.NoActionBar" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".MainActivity"
                android:label="Jeffy"
                android:screenOrientation="portrait"
                android:parentActivityName=".Main"
                android:theme="@style/TemaJeffy">
        </activity>
        <activity
                android:name=".Izzy"
                android:label="Izzy"
                android:screenOrientation="portrait"
                android:parentActivityName=".Main"
                android:theme="@style/TemaIzzy">
        </activity>
        <activity android:name=".Main" android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>